<h1>あなたの事を教えて下さい！！</h1>

<h5>〜〜自己紹介だったり〜〜</h5>
<h5>〜〜営業での採用事例〜〜</h5>
<h5>〜〜最近、あったホッとした出来事〜〜</h5>


<%= form_for(@opinion) do |f| %>

<h4>本文</h4>
    <%= f.text_area :body %>
    <%= f.attachment_field :image %>
    <%= f.submit '投稿' %>
 
<% end %>

