<div class="container">
<h1>プロフィール登録・編集</h1>


<%= form_for(@user) do |f| %>

<h4>本文</h4>
    <%= f.text_area :title, :size=>"60x10" %>
    <%= f.attachment_field :image %>
    <%= f.submit '投稿' %>

<% end %>



</div>